
*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color:#97b1b8;
    font-family: Arial, Helvetica, sans-serif;
    
}

section{
    margin: auto;
    background-color: white;
    width: 500px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.329);

}

header{
    text-shadow: 0.1px 1px 5px black;
    text-align: center;
    color: white;
    margin-top: 30px;
    margin-bottom: 30px; 
    
}

div{

    padding: 10px;
    font-weight: bolder;
    font-size: 1.2em;
}

div>p{
    padding: 10px;
}

div#res{
    text-align: center;
   margin: auto;
   
   
}

footer{
    color: white;
    text-shadow: 0.1px 1px 5px black;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}